<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Homework Forum"
        android:theme="@style/Theme.ProiectHelpWithHomework">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.proiecthelpwithhomework.action.OPEN_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeworkDetailActivity"
            android:exported="false" />

        <activity
            android:name=".AccountSettingsActivity"
            android:exported="false" />

    </application>

</manifest>
